#test_file
test/
test_file/
sheet_file/
word_data_file

#dataset
DataSet/
dataset/
kaggle_data/
file/
icon/

# venv
OpenCV_venv/


#dat file
.dat


Data_preprocess/workspace/*.txt
Data_preprocess/workspace/*.xlsx
Data_preprocess/workspace/*.csv